/* For mobile phones: */
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.form-input-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: visible;
}
.form-column-I {
  width: 100%;
}
.form-column-II {
  width: 100%;
}
.form-column-III {
  width: 100%;
}
#services .title {
  text-align: center;
}
select {
  width: 100%;
}
.login-page {
    width: 100%;
}
.form {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 45px;
    text-align: center;
}
.table-container .table-title{
    
    width: 100%;
}
.shecancode-flex {
  padding-top: 10px 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.shecancode-flex p {
  display: block;
  color: #264653;
  font-size: 14;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.shecancode-flex h1 {
  text-align: center;
}
.shecancode-flex>div {
  width: 100%;
  padding: 0;
}
.video{
  margin-left: 0;
}
.shecancode-flex-row{
  flex-direction: column;
}
.my-flex-row{
  display: flex;
  flex-direction: column;
}
.paragraph-container {
  width: 100%;
  padding: 0;
  margin-top: 10px;
}
.wrapper         {width: 95%; max-width: 600px; height: 100%; margin: 0 auto; background: #CCC}
.h_iframe        {position: relative; padding-top: 56%;}
.h_iframe iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}